<% layout('layout') -%>

<div id="titlebox">
    <img id="titleimg" src="img/plotscope.png" alt="plotscope" />
    <div id="flingtext">a summer 2011 fling</div>
</div>



<script type="text/javascript">
function onready() {
    $("button").button();
    $(".multiselect").multiselect();
}
</script>

<div id="content" style="margin-top: 160px;">
    <div>
    Technologies like <a href="http://gigapan.org/" target="_blank">Gigapan</a> and
    <a href="http://www.google.com/finance" target="_blank">Google Finance</a> have shown us
    the power of being able to zoom from the &ldquo;big picture&rdquo; into a small piece in real time.
    Plotscope takes a similar approach for data streams, allowing for interactive exploration of
    millions of measurements.
    </div>
    
    <div style="text-align: center; margin: 10px;">
        <!-- original w/h: 560x349 -->
        <iframe width="450" height="284"
                src="http://www.youtube.com/embed/YCV4QpPFfqw?color1=0xffffff&color2=0xffffff&modestbranding=1&showinfo=0&loop=1"
                frameborder="0"></iframe>
        <!--
        <object width="450" height="280">
            <param name="movie" value="http://www.youtube.com/v/YCV4QpPFfqw?version=3&amp;hl=en_US"></param>
            <param name="allowFullScreen" value="false"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed src="http://www.youtube.com/v/YCV4QpPFfqw?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="450" height="280" allowscriptaccess="always" allowfullscreen="false" color1="#ffffff" color2="#ffffff" modestbranding="true">
            </embed>
        </object>
        -->
    </div>
    
    <div style="text-align: center">
        The video above shows plotscope in action &mdash; <button onclick="document.location='/demo'">Try it yourself!</button>
    </div>
</div>

